@import './base.css';

/* Style par défaut des boutons */
button {
    border: 2px solid rgb(var(--primary-color));
    border-radius: 30px;
    font-size: 1.5vw;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    padding: 0.25% 1.25%;
    color: rgb(var(--text-color));
    background: rgb(var(--primary-color));
    cursor: pointer;
    transition: background-color .25s, border-color .25s;
}

/* Style par défaut  */
button:hover {
    border-color: rgb(var(--secondary-color));
    background: rgb(var(--selector-color));
}

a {
    transition: color .25s;
}

a:hover {
    color: rgb(var(--text-color));
}